<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ИС ГЕФЕСТ</title>
    <link rel="shortcut icon" href="http://www.isgefest.ru/favicon.ico" type="image/x-icon">
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Stylesheet file -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>

  <body>

    <nav class="header navbar navbar-default navbar-fixed-top" role="navigation" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="pull-left logo">
            <img src="images/logo.png" height="42">
          </div>
          <a class="navbar-brand" href="http://www.isgefest.ru">
            <span class="header">
              Информационная система ГЕФЕСТ
            </span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="nav navbar-nav navbar-right entry">
            <a href="https://billing.isgefest.ru"><button class="btn btn-default btn-entry"><i class="fa fa-database"></i> Вход в биллинг</button></a>
          </div>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a><span class="header"><i class="fa fa-phone"></i> +7 953 883 8555</span></a></li>
            <li><a><span class="header"><i class="glyphicon glyphicon-envelope"></i> info@isgefest.ru</span></a></li>
          </ul>
        </div>
      </div>
    </nav><!-- /.header -->

    <div class="container content">
      <div class="row introduction"> <!-- introduction -->
        <div class="col-md-4">
          <h2 class= "intro">Кто наши клиенты?</h2>
          <p class="intropic fa fa-users"></p>
          <ul class="intro">
            <li>Управляющие компании ЖКХ</li>
            <li>Товарищества собственников жилья</li>
            <li>Собственники жилой и коммерческой недвижимости</li>
          </ul>
        </div>
        
        <div class="col-md-4">
          <h2 class= "intro">Что мы делаем?</h2>
          <p class="intropic glyphicon glyphicon-cloud-download"></p>
          <ul class="intro">
            <li>Начисление всех видов услуг</li>
            <li>Обмен данными с платежными системами и другими организациями</li>
            <li>Формирование квитанций и отчетов</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2 class= "intro">Сколько это стоит?</h2>
          <p class="intropic fa fa-rub"></p>
          <h2 class="percent">0,5 руб./м&sup2;</h2>
          <p class="percent">Значительная скидка в зависимости от объема жилого фонда!</p>
        </div>
      </div> <!-- introduction -->

      <div class="row">
        <h2 class="intro">
          Почему стоит выбрать именно наше решение?
        </h2>
      </div>

      <div class="row reasonsrow">
        <div class="col-md-1 reasonsicon">
          <span class="fa fa-desktop"></span>
        </div>
        <div class="col-md-11">
          <p class="reasons">Вам не нужно покупать/обновлять/продлевать подписку на программное обеспечение для начисления услуг. Не нужно решать вопросы доработки ПО до решения реальных задач: экспорт/импорт, обработка данных, отчеты. </p>
        </div>
      </div>
      <div class="row reasonsrow">
        <div class="col-md-1 reasonsicon">
          <span class="fa fa-gears"></span>
        </div>
        <div class="col-md-11">
          <p class="reasons">Вы больше не беспокоитесь о технической поддержке сервера, сохранности информации, установки ПО на новый компьютер, уходу системного администратора в отпуск. Вам нужен только интернет!</p>
        </div>
      </div>
      <div class="row reasonsrow">
        <div class="col-md-1 reasonsicon">
          <span class="glyphicon glyphicon-lock"></span>
        </div>
        <div class="col-md-11">
          <p class="reasons">В отличие от большинства расчетно-кассовых центров, только Ваши сотрудники контролируют данные и имеют к ним доступ.</p>
        </div>
      </div>
      <div class="row reasonsrow">
        <div class="col-md-1 reasonsicon">
          <span class="fa fa-building"></span>
        </div>
        <div class="col-md-11">
          <p class="reasons">Наши сотрудники являются специалистами именно в области ЖКХ. Они помогут корректно организовать начисления, перерасчеты и учет платежей исходя из реалий рынка.</p>
        </div>
      </div>
    </div> <!-- container -->

    <div class="container-fluid">
      <div class="row footer">
        <div class="col-md-4 col-md-offset-2">
          <p>Общество с ограниченной ответственностью "ГЕФЕСТ"</p>
          <p>Новосибирск, ул. Большевистская, 103</p>
          <p>ОГРН 1115476097670</p>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <p>телефон: +7 953 883 8555</p>
          <p>email: info@isgefest.ru</p>
          <p>&copy; ООО "ГЕФЕСТ", 2014 г.</p>
        </div>
      </div>
    </div>

    <!-- JQuery and bootstrap.js-->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js">
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter26124807 = new Ya.Metrika({id:26124807,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/26124807" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  
  </body>
</html>